* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.navbar .navbar-brand {
    color: white;
    font-size: 35px;
}

.navbar .navbar-brand span {
    color: #00F0DD;
}

.navbar .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-link:hover {
    color: #00F0DD;
}

/* /////////////////////////////////main1///////////////////////// */
#main1 {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
}

#main1 .main1-left {
    width: 50%;
    height: 650px;
}

#main1 .main1-left h4 {
    padding-top: 27%;
    color: white;
}

#main1 .main1-left h4 span {
    color: #00F0DD;
}

#main1 .main1-left p {
    width: 95%;
    padding-top: 20px;
    color: white;
}

#main1 .main1-left p span {
    color: #00F0DD;
}

#main1 .main1-left .main1-icon {
    width: 50%;
    height: 60px;
}

#main1 .main1-left .main1-icon a .fa {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    padding-top: 10px;
    color: white;
    border: 2px solid #00F0DD;
}

#main1 .main1-left .main1-icon a .fa:hover {
    background-color: #00F0DD;
    color: black;
}

#main1 .main1-left .main1-button {
    width: 50%;
    height: 70px;
}

#main1 .main1-left .main1-button .btn1 {
    width: 150px;
    height: 50px;
    border: none;
    background-color: #00F0DD;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
}

#main1 .main1-left .main1-button .btn1:hover {
    background-color: black;
    border: 2px solid #00F0DD;
    color: white;
}

#main1 .main1-left .main1-button .btn2 {
    width: 150px;
    height: 50px;
    border: 2px solid #00F0DD;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#main1 .main1-left .main1-button .btn2:hover {
    background-color: #00F0DD;
    border: none;
    color: black;
}
#main1 .main1-right{
    width: 50%;
    height: 100%;
}
#main1 .main1-img img{
    width: 50%;
    border: 4px solid #00F0DD;
    margin-left: 25%;
    margin-top: 20%;
}

/* /////////////////////////////////main2///////////////////////// */
#main2 {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
}

#main2 .main2-left {
    width: 50%;
}

#main2 .main2-left h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

#main2 .main2-left h4 {
    padding-left: 10%;
    padding-top: 15%;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

#main2 .main2-left h3 {
    padding-left: 10%;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #00F0DD;
}

#main2 .main2-left h2 {
    width: 70%;
    padding-left: 10%;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

#main2 .main2-right {
    width: 50%;
}

#main2 .main2-right h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

#main2 .main2-right h4 {
    padding-left: 10%;
    padding-top: 15%;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

#main2 .main2-right h6 {
    padding-left: 10%;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #00F0DD;
}

#main2 .main2-right p {
    width: 90%;
    padding-left: 10%;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}


@media screen and (max-width: 576px) {
    #main1 {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    #main1 .main1-left {
        width: 100%;
        height: 100%;
    }

    #main1 .main1-left h4 {
        padding-top: 8%;
    }

    #main1 .main1-left .main1-icon {
        width: 80%;
    }

    #main1 .main1-left .main1-button {
        width: 80%;
        height: 70px;
    }

    #main1 .main1-left .main1-button .btn1 {
        width: 45%;
    }

    #main1 .main1-left .main1-button .btn2 {
        width: 45%;
    }

    #main1 .main1-right{
        width: 100%;
        height: 100%;
    }
    #main1 .main1-img img{
        width: 50%;
        border: 4px solid #00F0DD;
        margin-left: 25%;
        margin-top: 20%;
    }
    /* /////////////////////////////////main2///////////////////////// */
    #main2{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    #main2 .main2-left {
        width: 100%;
    }    
    #main2 .main2-left h2 {
        width: 90%;
        font-size: 20px;
    }
    #main2 .main2-left h1 {
        font-size: 40px;
    }
    
    #main2 .main2-left h4 {
        font-size: 25px;
    }
    
    #main2 .main2-left h3 {
        font-size: 25px;
    }
    #main2 .main2-right {
        width: 100%;
    }
    #main2 .main2-right h1 {
        font-size: 40px;
    }
    
    #main2 .main2-right h4 {
        font-size: 25px;
    }
    
    #main2 .main2-right h6 {
        font-size: 15px;
    }
    
    #main2 .main2-right p {
        font-size: 17px;
    }
}